@font-face {
    font-family: 'BAHNSCHRIFT';
    src: url('/static/fonts/BAHNSCHRIFT.ttf');
}

*{
  font-family: BAHNSCHRIFT;
  margin: 0;
}
.header{
  background-color: #29292e;
  display: grid;
  grid-template-columns: 100px auto;
  height: 50px;
}

.header-logo{
  background-color: #242428;
  display: flex;

}
.header-logo img{
  width: 75%;
  margin: auto auto;
}

body{
  background-color: white;
}
.size-inactive{
  color: green;
}
.size-selected{
  color:red;
}
/* .add-button{
  display: None;
} */
.add-active{
  color: green;
}

.main-cart{
  display: none;
  margin-top: 20px;
}
.shown{
  display: inline
}

.abs{
  position: absolute;
  display: grid;
  margin-left: 330px;
  margin-top: 560px;
  font-size: 10px;
}
.mar{
  margin-top: 570px;
}
body{
  background-color: #303035;
}

.cat-item{
  background-color: #29292e;
  color: white;
  height: 60px;
  font-size: 26px;
  margin: auto 0;
  background-color: #24242a;
  display: grid;
  grid-template-columns: 60px auto;
  -ms-align-items: center;
  align-items: center;
  grid-column-gap: 0.5em;
}
.cat-item + .cat-item{
  margin-top: 20px;
}

.cat-cont{
  margin-top: 20px;
  margin: 25px 25px 0;
}
.cat-item img{
  width: 50px;
  margin-left: 10px;
}
.container{
  margin-top: 20px;
  margin: 25px 25px 0;
}
.nav-menu{
  color: white;
  font-size: 10px;
}

.nav-menu{
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.nav-menu span + span{
  margin-left: 8px;
}
.outer-header{
  display: grid;
  grid-template-columns: auto 60px;
}
.b-button{
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.b-button button{
  border: none;
  color: #29292e;
  background-color: white;
  font-size: 10px;
  padding: 2px 0 0 0;
  width: 40px;
  margin-bottom: 2px;
}


.product-item{
  width: 150px;
  margin-bottom: 26px;
  /* height: 175px; */
}
.product-image{
  height: 175px;
}
.product-image img{
  width: 100%;
}
.product-cont{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.product-info{
  background-color: #29292e;
  display: grid;
  grid-template-areas:
    'name price'
    'button button';
  justify-content: space-between;
  /* -ms-align-items: right;
  align-items: right; */
  /* margin-top: auto; */
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}
.product-name{
  color: #b3b3f5;
  font-size: 12px;
  grid-area: name;
}
.product-price{
  color: white;
  grid-area: price;
}
.product-add-button{
  grid-area: button;
  border: None;
  padding: 3px 0px;
  margin-top: 2px;
  font-size: 12px;
  color: #29292e;
}
.product-item-img img{
  width:100%;
  height: 100%;
}
.product-item-info{
  background-color: #29292e;
}
.product-item-img{
  /* height:; */
}

.product-item-info-cont{
  display: grid;
  grid-template-rows: auto auto auto;
}
.product-item-info{
  padding: 10px 14px 16px 14px;
  display: grid;
  grid-template-rows: 38px auto;
  /* padding: 10px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 26px auto; */
  height: 73px
  /* align-items:space-between; */
}
.product-item-info-name{
  color: #b3b3f5;
  font-size: 30px;
}
.product-item-info-price{
  margin-left: auto;
  color:white;
  font-size: 32px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.product-item-info-descr{
  color: white;
  font-size: 10px;
  padding-right: 20px;
}
.cart-item-info-main{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.cart-item-info-child{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /* -ms-align-items: flex-end;
  align-items: flex-end; */
  justify-content: space-between;
  align-content: flex-end;
  margin-top: -2px;
  /* height:30px;
  width: 30px; */

}
.cart-item-info-child button{
  justify-content: flex-end;
  margin-top: auto;
  height:30px;
  width: 30px;
  color: #29292e;
  background-color: white;
  font-size: 20px;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  padding-top: 2px;
}
.product-item-info-button{
  margin-top: auto;
  margin-bottom: 4px;
}

.product-item-add{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* justify-content: center; */
}
.sizes-map div{
  /* width: 20px;
  height: 20px; */
  color: white;
  /* background-color: #29292e; */
  /* outline-color: red;
  outline-style: dashed;
  outline-width: 2px; */
  width: 50px;
  height: 10px;

}
.sizes-map{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.size-map-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 42px;
  height: 30px;
  font-size: 16px;
  border: None;
  padding-top: 2px;
  background-color: #303035;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 0;
  padding-top: 3px;
}
.size-map-item + .size-map-item{
  margin-left: 6px;
}
/* .size-map-item p{
  padding: 0 auto;
} */
.size-map-item button{
  padding: auto 0;
  font-size: 24px;
  border: None;
  width: 54px;
}
.size-inactive{
  border-color: #494953;
  color: #494953;
}
.size-selected{
  background-color: white;
  color: #29292e;
}
.add-button{
  /* display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center; */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  color: #303035;
  background-color: #494953;
  margin-left: auto;
}
.add-button button{
  border: none;
  font-size: 16px;
  width: 80px;
  background-color: #494953;
  color: #303035;
}
.product-item-add{
  margin-top: 14px;
}
.add-active button{
  background-color: #fff;
}
.cart-item-img img{
  height: 110px;
  margin: auto 0 auto 13px;
}
.cart-item-img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.cart-item-btn{
  border: none;
}
.cart-item{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: #29292e;
  height: 140px;
  width: 100%;
}
.cart-item + .cart-item{
  margin-top: 20px;
}
.info-counter-cont{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cart-item-counter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.cart-item-info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.info-counter-cont{
  margin-left: 14px;
  margin-top: 20px;
}
.cart-item-info{
  color: white;
  font-size: 20px;
}
.info-size{

  width: 36px;
  margin-right: 10px;
  color: #fff;
  background-color: #29292e;
  border-style: solid;
  border-width: 2px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}
.cart-item-counter button{
  width: 36px;
  margin-right: 10px;
  color: #29292e;
  background-color: #fff;
  font-size: 20px;
  padding: 0;
}
.cart-item-counter{
  margin-top: 6px;
}
.info-price{
  font-size: 26px;
}
.info-name{
  color: #b3b3f5;
}
.item-counter{
  background-color: #fff;
  color: #29292e;
  border: none;
  width: 36px;
  margin-right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.size-stmt{
  background-color: #67d667;
  border: none;
  color: white;
  padding-top: 5px;
}
